 <div class="panel panel-default" *ngIf="joke">
    <div class="panel-heading">
      <span>{{ joke.title }}</span>
      <span class="pull-right">
        <a [routerLink]="['/user/profile', joke.user.id]">{{ joke.user.name }}</a>
      </span>
    </div>
    <div class="panel-body">
      <p class="text-center">
        {{ joke.joke }}
      </p>
    </div>
    <div class="panel-footer">
      {{ joke.created_at | prettyDate }}
      <span *ngIf="canModify()">
        <button class="btn btn-xs btn-danger pull-right">Delete</button>
        <button class="btn btn-xs btn-info pull-right">Edit</button>
      </span>
    </div>
  </div>