 <div class="panel panel-default" *ngIf="joke">
    <div class="panel-heading">
      <span *ngIf="!editing">{{ joke.title }}</span>
      <span *ngIf="editing">
        <input type="text" class="form-control" [formControl]="title">
      </span>
      <span class="pull-right" *ngIf="!editing">
        <a [routerLink]="['/user/profile', joke.user.id]">{{ joke.user.name }}</a>
      </span>
    </div>
    <div class="panel-body">
      <p class="text-center" *ngIf="!editing">
        {{ joke.joke }}
      </p>
      <p class="text-center" *ngIf="editing">
        <textarea rows="10" class="form-control" [formControl]="content">
        </textarea>
      </p>
    </div>
    <div class="panel-footer">
      {{ joke.created_at | prettyDate }}
      <span *ngIf="canModify() && !editing">
        <button class="btn btn-xs btn-danger pull-right" (click)="deleteJoke()">Delete</button>
        <button class="btn btn-xs btn-info pull-right" (click)="edit()" style="margin-right: 5px;">Edit</button>
      </span>
      <span *ngIf="editing">
        <button class="btn btn-primary btn-xs pull-right"
        style="margin-right: 5px;"
        (click)="cancel()"
        >Cancel changes</button>
        <button class="btn btn-primary btn-xs pull-right" 
        [disabled]="title.invalid || content.invalid"
        (click)="updateJoke()"
        >Save changes</button>
      </span>
    </div>
  </div>