<ng-progress></ng-progress>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        Site title
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a>All jokes</a></li>
        <li><a *ngIf="isLoggedIn()" [routerLink]="['user/profile', 1]">User 1 Profile</a></li>
        <li><a *ngIf="isLoggedIn()" [routerLink]="['user/profile', 2]">User 2 Profile</a></li>
        <li><a *ngIf="isLoggedIn()" [routerLink]="['user/profile', user.id]">My Profile</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!isLoggedIn()" routerLink="/auth/login">Login</a> </li>
        <li><a *ngIf="!isLoggedIn()" routerLink="/auth/register">Register</a> </li>
        <li><a *ngIf="isLoggedIn()" (click)="logout()">Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <app-notify></app-notify>
  <router-outlet></router-outlet>
</div>